/* Reset default styles and set common font family */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* Header Navigation Bar */
  header {
    background-color: darkred;

  }
  
  
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 15px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li.active > a {
    background-color: white;
    color: #000;
  }
  
  .navbar-brand img {
    width: 80px;
    height: auto;
    margin-right: 15px;
  }

  /* Title and Tagline */
.title {
    text-align: center;
    margin-top: 30px;
  }
  
  .title h1 {
    color: rgb(252, 252, 252);
    font-size: 35px;
    margin-bottom: 5px;
  }
  
  .message {
    text-align: center;
  }
  
  .message h2 {
    color: red;
    font-size: 20px;
    margin-bottom: 20px;
  }

  /* Additional styles for mobile devices */
  @media (max-width: 768px)
  {
  .navbar-brand {
    margin-left: 15px;
  }
  .navbar-nav {
    float: none;
    margin: 0;
    text-align: center;
  }
  .navbar-nav > li {
    display: inline-block;
  }
  .navbar-collapse {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
  .searchTerm {
    width: 100%;
    margin-top: 10px;
  }
  
  .content-row{
    padding: 10px;
    margin: 5px 5px;

  }

  .mybox1 {
    background-color: darkred;
    color: white;
    border-radius: 12px 12px 0 0; 
    text-align: justify;
    margin-bottom: 5px; /* margin for content and footer */
}

.abt {
    padding: 5px;
    margin: 5px 5px;
    overflow-y: auto;            /* Scrollable overflow for content */
    max-height: 300px;          /* Maximum height forscrollable content */
}
.abt::-webkit-scrollbar {        /*   Hide the scroller   */
  width: 0; 
  background: transparent;
}
.content-title {
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    margin: 0;
    margin-bottom: 2px;
    font-size: 15px;
}

.content-title p {
    font-size: 10px;
    margin-bottom: 0px;
}

.footer {
    padding: 20px 0; /* padding */
}
.image-rotator {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-rotator img {
  margin-right: 5px;
  margin-left: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.image-rotator img:last-child {
  margin-right: 0;
}
.pqr {

  width: 100%;
  margin-top: 3px;
  margin-right: 5px;

  height: 30%;
  font-size: 10px;

}

.container {
  height: 50%;
}
.footer {
  padding: 20px 0;
  /* padding */
}

}
@media (max-width:992px) {
  .pqr {
  
      width: 100%;
      margin-top: 3px;
      margin-right: 5px;
        height: 30%;
      font-size: 10px;
  
    }
  
    .container {
      height: 50%;
     
    }
}

/* Content styling */

.mybox1{
    
    background-color:darkred;
    color: white;
    border-radius: 12px 12px 12px 12px;
    text-align: justify;
   
}


.abt{
  padding: 5px;
  margin: 5px 5px;
}

.content-title{
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  margin:0;
  margin-bottom: 2px;
  font-size: 25px;
  

}
.content-title p{
    font-size: 10px;
    margin-bottom: 0px;
}

@media (min-width: 992px) {
  .mybox1 {
      padding: 5px; /*  padding to separate content */
      margin-bottom: 5px; /*  margin to separate sections */
     
  }
  .content-title h2{
    font-size: 25px;
  }
}

/* Footer */


footer {
  background-color: darkred;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-row img {
  width: 60px;
  height: auto;
}

.footer-content {
  margin-left: auto;
  /* Move to the right */

}

.footer-content ul {
  list-style: none;
  padding: 0;
  display: flex;

}

.footer-content ul li {
  margin-right: 50px;
}

.footer-content ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 2px 2px;
  border: 1px solid transparent;
  transition: 0.6s ease;

}

.footer-content ul li a:hover {
  background-color: white;
  color: #000;
}

.footer-image img {
  width: 40px;
  height: auto;
  margin-left: 20px;
}

.image-rotator {
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-evenly;

}

.image-rotator img {
  margin-right: 30px;
  margin-left: 30px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Remove right margin from the last rotating image to prevent extra space */
.image-rotator img:last-child {
  margin-right: 0;
}

.link-color {
  color: #ffffff;
  font-weight: bold;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  
}

.link-color:hover {
  border-color: #ffffff;
 color: darkred;
  background-color: darkred;

  
}










